/*
 * Hover Button
 */

#reading-list-overlay {
  position: absolute;
  width: 28px;
  height: 0px;
  background: #d6d6d6;
  margin: 2px 0px;
  z-index: 3000;
  border-radius: 2px;
  overflow: hidden;
  transition: height 200ms;
}

.reading-list-icon {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.reading-list-icon:hover {
  background: #dfdfdf;
  border: 1px solid #acacac;
}


/*
 * Multi Button
 */

#multi-button-alternate {
  transition: width 200ms;
}

#multi-button-alternate.empty {
  width: 0px;
}

#multi-button-list {
  border-left: 1px solid #acacac;
  padding-left: 4px;
  width: 26px;
}